{% extends 'base.html' %}

{% block title %} Usuń przedmiot {% endblock %}

{% block site %}

    <div class="card" style="width: 35rem;">
      <div class="card-body">
          <h5 class="card-title">Czy napewno chcesz usunąć ocenę "{{ grade.grade }}", którą uzyskał "{{ grade.student}}" ?</h5>
              <form method="post">
                {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Usun ocenę</button>
              </form>
      </div>
    </div>

       <a href="{% url 'all_students' %}">Cofnij</a>

{% endblock %}