{% extends 'base.html' %}

{% block title %} Lista przedmiotów: {% endblock %}

{% block site %}

    <!--<h2>Liczba studentów: {{ students|length  }} </h2> -->
    <h5 class="display-7">Witaj {{ user.username }}</h5>

    <div class="jumbotron">

        {% if user.is_authenticated %}

          <h1 class="display-4">LISTA PRZEDMIOTÓW <a href="{% url 'main_view' %}"><i class="fas fa-1x fa-home"></i></a></h1>
          <a class="btn btn-dark btn-lg" href="{% url 'login_view' %}" role="button">Wyloguj się</a>

        {% else %}
          <a href="{% url 'login_view' %}">Login</a>
        {% endif %}
    </div>

    <hr>

    <a href="{% url 'new_course' %}"><button type="submit" class="btn btn-success">Dodaj przedmiot</button></a>
    <a href="{% url 'new_grade' %}"><button type="submit" class="btn btn-success">Dodaj ocenę</button></a>
    <a href="{% url 'all_students' %}"><button type="submit" class="btn btn-success">Lista wszystkich studentów</button></a>

    <br>
    <hr>
    <br>

    {% if courses|length == 0 %}
        <h2>Brak kursów</h2>
    {% else %}

    <h2>Liczba przedmiotów: {{ courses|length  }} </h2>

    <br>
        <!--<h2>Wszystkie przedmioty/kursy: </h2>-->

        {% for course in courses %}

        <hr>
            <div class="card" style="width: 55rem;">
              <div class="card-body">
                  <img src="/media/{{course.course_image}}" width = "200px" style="float:left;">
                  <div class="row">
                      <div class="col-9">
                        <h3 class="card-title">{{ course.title }}</h3>
                      </div>
                      <div class="col-3">
                          <a href="{% url 'edit_course' course.id %}"><i class="fas fa-3x fa-edit"></i></a>
                          <a href="{% url 'delete_course' course.id %}"><i class="fas fa-3x fa-trash-alt"></i></a>
                      </div>

                      <div class="col-3">
                          <a href="{% url 'course_list_of_student' course.id %}"><button type="submit" class="btn btn-primary">lista ocen </button></a>

                      </div>
                  </div>
                      <div class="row">
                          <p class="card-text opis" style="margin-left: 15px;">{{ course.description }}.</p>
                      </div>
              </div>
            </div>


        {% endfor %}

    {% endif %}


    <br>
    <a href="{% url 'all_students' %}"><button type="submit" class="btn btn-success">Lista wszystkich studentów </button></a>

{% endblock %}