{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} JJJJJ {% endblock %}

{% block site %}

            <div class="jumbotron">
                <h1 class="display-4"> LISTA OCEN STUDENTÓW </h1>
            </div>


             <hr>
                {{a}}
             <hr>
                {{b}}

             <hr>
                {{d}}

             <hr>
                {{f}}

             <hr>
                {{l}}

             <hr>
                {{m}}

             <hr>
                {{g}}
            <hr>


                              <select class="form-select" aria-label="Default select example">
                                  <option selected>Ocena</option>
                                  <option value="1">2.0</option>
                                  <option value="2">3.0</option>
                                  <option value="3">3.5</option>
                                  <option value="4">4.0</option>
                                  <option value="5">4.5</option>
                                  <option value="6">5.0</option>
                                </select>

 <hr>
                {{h}}
 <hr>


<!--
    {% for x in q %}
            <h3 class="card-title">{{ x.course }}</h3>
    {% endfor %}
-->





{% endblock %}